aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
exceptiongroup
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
langchain-community
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
numpy
openai
packaging
pandas
Pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pypdf
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
six
smmap
sniffio
SQLAlchemy
streamlit
tenacity
tiktoken
toml
toolz
tornado
tqdm
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp
InstructorEmbedding
sentence-transformers
langchain-groq
ollama
